<!doctype html>
<html ng-app>
<head>
  <title>Catálogo de Discos</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/toastr.css">
  <link rel="stylesheet" href="css/application.css">
</head>
<body>
  <div class="container" ng-controller="discoCntr">

    <div class="row">
      <div class="page-header">
        <div class="span9">
          <h1>Catálogo de Discos</h1>
        </div>
        <div class="span3">
          <input type="search" ng-model="search" placeholder="Buscar por...">
        </div>
      </div>
    </div>

    <div class="row">
      <table id="lista-compras" class="table table-striped">
        <thead>
          <tr>
             <th>Titulo</th>
            <th>Artista</th>
            <th>Colecao</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in itens | filter:search">
            <td><input type="checkbox" ng-model="item.comprado"></td>
            <td><strong>{{ item.Titulo }}</strong></td>
            <td>{{ item.Artista }}</td>
            <td>{{ item.Colecao }}</td>
            <td>
              <button class="btn btn-warning btn-small" ng-click="editarItem($index)">
                <i class="icon-pencil icon-white"></i> editar
              </button>
              <button class="btn btn-danger btn-small" ng-click="deleteItem($index)">
                <i class="icon-trash icon-white"></i> deletar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <form class="row form-inline" name="validarValoresPreenchidos">
      <input type="text" ng-model="item.Titulo" placeholder="Titulo" required>
      <input type="text" ng-model="item.Artista" placeholder="Artista" required>
      <button ng-hide="edit" class="btn btn-success" ng-disabled="validarValoresPreenchidos.$invalid" ng-click="adicionaItem()">
        <i class="icon-plus icon-white"></i> adicionar
      </button>
      <button ng-show="edit" class="btn btn-success" ng-disabled="validarValoresPreenchidos.$invalid" ng-click="applyChanges()">
        <i class="icon-ok icon-white"></i> salvar
      </button>
    </form>
  </div>
  <script src="lib/jquery.min.js"></script>
  <script src="lib/angular.min.js"></script>
  <script src="lib/toastr.min.js"></script>
  <script src="app/DiscoModel.js"></script>
  <script src="app/DiscosServer.js"></script>
  <script src="app/DiscoControllers.js"></script>
</body>
</html>